body {
    text-align: center;
    background-color:rgb(255,255,255);
    margin: auto;
    width: auto; 
    padding: 2.5%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100%;
    color: #242333;
  }

  h1 {
    color: #242333;
    font-size: 4em;
    margin: 0px 0px 0px 0px;
  }

  h2 {
    color: #FFFFFF;
    font-size: 2.5em;
  }

  p {
    color: #FFFFFF;
    font-size: 1.5em;
    margin: 0rem 0rem 0rem 0rem;
  }

  a {
    color: #242333;
    font-size: 1.5em;
  }

  hr {
    width: 50%;
  }

  div {
    background-color:#242333;
    padding: 0.5rem 0rem 2rem 0rem;
  }