body {
    text-align: center;
    background-color:rgb(255,255,255);
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 100%;
    color: #1b2834;
  }

  h1 {
    color: #1b2834;
    font-size: 4em;
  }

  h2 {
    color: #1b2834;
    font-size: 2.5em;
  }

  p {
    color: #1b2834;
    font-size: 1.5em;
  }

  a {
    color: #1b2834;
    font-size: 1.5em;
  }