body {
    text-align: center;
    background-color:rgb(255,255,255);
    margin: auto;
    width: 640px; 
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif;
    color: #1b2834;
  }
  h1 {
    color: #1b2834;
  }
  p {
    color: #1b2834;
  }
  a {
    color: #1b2834;
  }